.body{
    margin: 0px;
    padding: 0px;
}

.main{
    font-family: 'Nanum Myeongjo', serif;
    display: block;
    height: 90%;
    width: 50%;
    /* border: 2px solid black; */
    margin: 30px auto;
    background-color: #F3F3FB;
}

.first_child{
    height: 88%;
    width: 44%;
    /* border: 2px solid red; */
    float: left;
    background-color: #F3F3FB;
    box-shadow: 5px 10px 18px 5px #bbb9b9;
    border-radius: 12px;
    margin-top: 30px;
}

.first_child h3{
    margin-top: 50px;
    margin-left: 60px;
    color: #242C44;
}

.first_child h2{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 40px;
    font-weight: bolder;
    color: #242C44;
}

.first_child p{
    margin-top: -30px;
    margin-left: 60px;
    color:#848C94;
}

#one{
    margin-left: 60px;
    margin-top: 20px;
}

#two{
    margin-left: 60px;
}

#three{
    margin-left: 60px;
}

label {
    margin-right: 15px;
    line-height: 32px;
    color: #848496;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #242C44;
    position: relative;
    background-color: #242C44;
  }

.input:checked {
    color: #707586;
  }

  .btn{
    display: block;
    color:white;
    border-radius: 18px;
    width: 80%;
    padding: 10px 10px;
    background-color: #242C44;
    border: 1px solid  rgb(255, 255, 255);
    margin: 112px auto;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: 500;
}

.second_child{
    height: 88%;
    width: 44%;
    /* border: 2px solid red; */
    float: right;
    background-color: #242C44;
    box-shadow: 5px 10px 18px 5px #a19e9e;
    border-radius: 12px;
    margin-top: 30px;
}

.second_child h3{
    margin-top: 50px;
    margin-left: 60px;
    color: #ffffff;
}

.second_child h2{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 40px;
    font-weight: bolder;
    color: #F3F3FB;
}

.second_child p{
    margin-top: -30px;
    margin-left: 60px;
    color: #9FA3AE;
}

#one1{
    margin-left: 60px;
    margin-top: 20px;
}

#two2{
    margin-left: 60px;
}

#three3{
    margin-left: 60px;
}

#four4{
    margin-left: 60px;
}

#five5{
    margin-left: 60px;
}

.second_child label {
    margin-right: 15px;
    line-height: 32px;
    color: #9FA3AE;
}

.second_input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #242C44;
    position: relative;
    background-color: #ffffff;
  }

.input:checked {
    color: #707586;
  }

  .btn2{
    display: block;
    color: #242C44;
    border-radius: 18px;
    width: 80%;
    padding: 8px 10px;
    background-color:  white;
    border: 1px solid  rgb(255, 255, 255);
    margin: 50px auto;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: 800;
}

