*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cormorant Infant;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    display: block;
}
ul li a{
    color: #222;
    background-color: #fff;
    padding: 12px;
}