.main{
    height: auto;
    width: 600px;
    float: right;
    margin-right: 28%;
    background-color:#EBF3FB;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
}
.header{
    height: 150px;
    width: 600px;
    background: #24245C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    color: aliceblue;
    position: relative;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

.btn1{
    height: 45px;
    width: 100px;
    background-color: #24245C;
    color:white;
    border-radius: 15px;
    text-align: center;
}

.form-group1{
    margin-top: 80px;
}

.form-group{
    margin-top: 30px;
}